{% extends 'base.html' %}
{% load i18n %}
{% load static %}



{% block title %}
    {%trans 'Create Album: '%}
{% endblock title %}

{% block content %}

    <h1> {%trans 'Create Album: '%} </h1>
    {% if permission != 'editor' %}
        <h3> {% trans 'You must have editor permission to use this.' %} </h3>
    {% else %}
        <form method = "POST" class = "displayform" action = "/albums/" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">{%trans 'Title: '%}</label>
            <input type="text" id="title" name = "title"><br>

            <label for="description">{%trans 'Description: '%}</label>
            <textarea rows="10" cols="140" name = "description" id = description></textarea><br>

            <label for="artist">{%trans 'Artist: '%}</label>
            <input type="text" name = "artist" id="artist"><br>

            <label for="price">{%trans 'Price: '%}</label>
            <input type="text" name = "price" id="price"><br>

            <label for="format">{%trans 'Format: '%}</label>
            <select id="format" name = "format">
              <option value="DD">{%trans 'Digital Download: '%}</option>
              <option value="VL">{%trans 'Vinyl: '%}</option>
              <option value="CD">{%trans 'CD: '%}</option>
            </select><br>

            <label for = "release_date">{%trans 'Date: '%}</label>
            <input type = "date" name = "release_date" id = "release_date" value = 2024-01-01> <br>

            <label for="cover_image">{%trans 'Select an immage: '%}</label>
            <input type="file" name = "cover_image" id="cover_image" accept="image/*">
            <br>

            {%trans 'Select all songs in the album: '%}<br>
            {% for song in songs %}
            <label for = "{{song.title}}">{{song.title}}</label>
            <input type="checkbox" name = "{{song.title}}" id="{{song.title}}" value = "yes">
            {% endfor %}

            <br>
            <button class = "button" type = "submit">{%trans 'Submit'%}</button>
        </form>

    {% endif %}

{% endblock content%}