{% extends 'base.html' %}
{% load i18n %}
{% load static %}



{% block title %}
    {% trans 'Edit Album' %}
{% endblock title %}

{% block content %}

{% if permission != 'editor' and display_name != album.artist %}
        <h3> {% trans 'You must have editor permission or be the artist of this album to use this.' %} </h3>
    {% else %}
    <div class = "displayform">
        <form method = "POST" action = "/albums/{{album.id}}/" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">{% trans 'Title: ' %}</label>
            <input type="text" id="title" name = "title" value = "{{album.title}}"><br>

            <label for="description">Description:</label>
            <textarea rows="10" cols="140" name = "description" id = "description">{% trans album.description %}</textarea><br>

            <label>Artist:</label>
            <label >{{album.artist}}</label><br>

            <label for="price">Price:</label>
            <input type="text" id="price" name = "price" value = {{album.price}}><br>

            {% if album.format == "DD" %}

                <label for="format">{% trans 'Format: ' %}</label>
                <select id="format" name = "format">
                <option value="DD" selected>{% trans 'Digital Download' %}</option>
                <option value="VL">{% trans 'Vinyl' %}</option>
                <option value="CD">{% trans 'CD' %}</option>
                </select><br>
            
            {% elif album.format == "VL" %}
                <label for="format">{% trans 'Format: ' %}</label>
                <select id="format" name = "format">
                <option value="DD">{% trans 'Digital Download' %}</option>
                <option value="VL" selected>{% trans 'Vinyl' %}</option>
                <option value="CD">{% trans 'CD' %}</option>
                </select><br>
            {% else %}
                <label for="format">{% trans 'Format: ' %}</label>
                <select id="format" name = "format">
                <option value="DD">{% trans 'Digital Download ' %}</option>
                <option value="VL">{% trans 'Vinyl ' %}</option>
                <option value="CD" selected>{% trans 'CD ' %}</option>
                </select><br>
            {% endif %}

            <label>{% trans 'Release Date: ' %}</label>
            <label>{{album.release_date }}</label><br>

            <label for="cover_image">{% trans 'Select an Image: ' %}</label>
            <input type="file" name = "cover_image" id="cover_image" accept="image/*">
            <br>
            <button class = "button" type = "submit" name = "action" value = 'edit'>{% trans 'Submit' %}</button>
        </form>
    </div>
        

    {% endif %}

{% endblock content %}