{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>


    {% block title %}
    {% trans 'Explore' %}
    {% endblock title %}

    {% block content %}
    
    <h4 class = "greyText">{% trans 'Welcome to' %}</h4>
    <h1> {% trans '"Project Name" Opportunities' %}</h1>
     
    <div style = "display:flex; margin-top: 5vw;">

        <div class = "filterBox">
            filters
        </div>

        <div class = "gridDisplay">
            {% for charity in charities %}
                <div class = "display">
                    {{charity.title}} <br>
                    {{charity.categories.all}} <br>
                    Effort: {{charity.estimated_effort_ranking}}
                </div>
            {% endfor %}
        </div>
    </div>
    
    



</html>
{% endblock content %}