{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>

    {% block title %}
    {% trans 'Explore' %}
    {% endblock title %}
<body>
    {% block content %}
    
    <h4 class = "greyText">{% trans 'Welcome to' %}</h4>
    <h1> {{title}} Upgrades </h1>  

        <div style="display: flex;">
            <div style="margin-top: 6vw; margin-left: 10vw;">
                <div class = "displayBadges" style="margin-top: 1vw;">
                        
                    <img src= "{{ badge1 }}">
                    
                </div>
            </div>
    
        <div style="margin-top: 6vw; margin-left: 10vw;">
            <div class = "displayBadges" style="margin-top: 1vw;">
                    
                    <img src="{{ badge2 }}">
                
            </div>
        </div>
    
        <div style="margin-top: 6vw; margin-left: 10vw;">
            <div class = "displayBadges" style="margin-top: 1vw;">
                    
                    <img src="{{ badge3 }}">
                
            </div>
        </div>

    </div>
    <div style="display: flex;">
    
        <div style="margin-top: 3vw; margin-left: 10vw;">
            <div class = "displayBadges" style="margin-top: 1vw;">
                    
                    <img src="{{ badge4 }}">
                
            </div>
        </div>
    
        <div style="margin-top: 3vw; margin-left: 10vw;">
            <div class = "displayBadges" style="margin-top: 1vw;">
                    
                    <img src="{{ badge5 }}">
                
            </div>
        </div>
    
        <div style="margin-top: 3vw; margin-left: 10vw;">
            <div class = "displayBadges" style="margin-top: 1vw;">
                    
                    <img src="{{ badge6 }}">
                
            </div>
        </div>
    </div>
    


</body>
</html>
    {% endblock content %}